.wrapper{
    width: 350px;
    background-color: rgb(241,246,251);
    height: calc(100vh - 64px);
    border-left: 1px solid rgba(128, 128, 128, 0.229);
    box-shadow: -1px -1px 20px 7px rgb(0 0 0 / 10%);
}
.account{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.229);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-left: 10px;
}
.user{
    opacity: 0.5;
}
.search{
    width: 100%;
    padding: 10px 20px ;

    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 10px 20px;
}
